@import '../../THEME.scss';

.todo {
    display: flex;
    border-bottom: 2px dashed $mainColor;
    position: relative;
    background-color: #eee;

    &:hover {
        .container {
            flex-basis: 85%;
            border-radius: 8px;
            margin-right: 120px;
        }
    }
}

.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 5;
    cursor: pointer;
    flex-basis: 100%;
    padding: 25px 15px;
    transition: all 0.7s ease-in-out;
}

.switchContainer {
    display: flex;
}

.title {
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: $fontColor;
}

.complete {
    text-decoration: line-through;
    color: gray;
}

.date {
    margin-left: auto;
    font-size: 0.8rem;
    color: $mainColor;
}

.btns {
    position: absolute;
    display: flex;
    // z-index: -1;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7rem;
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}
.btnEdit {
    background-color: $mainColor;
    color: #fff;
}
.btnDelete {
    background-color: red;
    color: #fff;
}

@media (max-width: 980px) {
    .container {
        flex-wrap: wrap;
    }
    .date {
        flex-basis: 100%;
        margin-top: 15px;
    }
}

@media (max-width: 680px) {
    .container {
        padding: 10px 7px;
    }
    .title {
        font-size: 1rem;
    }
}

@media (max-width: 420px) {
    .todo {
        &:hover {
            .container {
                margin-right: 50px;
            }
        }
    }
    .btns {
        flex-direction: column;
    }
    .btn {
        width: 30px;
        height: 30px;
    }
}
